@tailwind base;
@tailwind components;
@tailwind utilities;

#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #7c7c7c;
}

#scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #7c7c7c;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: #303030;
}
@layer components {
  .text-gradient-theme {
    @apply text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-secondary to-accent;
  }
}
